<div class="tl_content odd click2edit toggle_select">
    <div class="tl_content_right">
        {{ operations|raw }}
    </div>
    <div class="tl_content_left">
        {{ row.title }} <span style="color:#999;padding-left:3px">[{{ date }}]</span>
    </div>
</div>